table#timetable{
	user-select: none;
}
table#timetable td.weekday{
	cursor: pointer;
}
table#timetable td.weekday:hover{
	color: blue;
}
table#timetable td.weekday:active{
	color: red;
}
.warn{
	color:red;
}